
nav
  .logo 
    #userMenuBtn 
      a
        i(class="fa fa-bars" aria-hidden="true")
    .logo 
      a EssenceExplorer 
  
  ul  
    li.nav__el.hideOnMobile 
      a(href="/") Home 
    //- li.nav__el.hideOnMobile
    //-   a category
    
    if user
      li.nav__el.nav__el--logout.hideOnMobile 
        a  Log out
      li.nav__el.hideOnMobile 
        a(href='/me')
          img.nav__user-img(src= user.photo alt=`Photo of ${user.name}`)
          span= user.name.split(' ')[0]
    else
      li.nav__el.hideOnMobile 
        a(href='/login') Log in
      li.nav__el.nav__el--cta.hideOnMobile 
        a(href='/signup') Sign up 
    li.nav__el.hideOnDesktop.searchBtn
      a(href="/") 
        i(class="fa-solid fa-magnifying-glass fa-black")
if categories
  section(class="category-homepage")
      .category-homepage 
          a.name(href=`/posts` class=`${!category ? 'active': ''}`) All
          each cat in categories 
              a.text-decoration-none.name(class=`${cat._id==category ? 'active' : ''}` href=`/posts?category=${cat._id}`)=cat.name


                       //-/////////////////////////nav sidebar /////////////////////////////
.sidebar--nav
  nav
    .logo 
      #userMenuCloseBtn 
        a
          i(class="fa fa-bars" aria-hidden="true")
      .logo 
        a EssenceExplorer 
  ul
    //- li.flex
    //-   div EssenceExplorer
    //-   i#userMenuCloseBtn(class="fa fa-times" aria-hidden="true")
       
    li
      a(href="/") Home 
    if user
      li 
        a Log out
      li 
        a.nav__el(href='/me')
          img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
          span= user.name.split(' ')[0]
    else
      li 
        a(href='/login') Log in
      li 
        a.nav__el--cta(href='/signup') Sign up 