
nav
  .logo 
    #userMenuBtn 
      a
        i(class="fa fa-bars" aria-hidden="true")
    .logo 
      a EssenceExplorer 
  
  ul  
    li.nav__el.hideOnMobile 
      a(href="/") Home 
    li.nav__el.hideOnMobile
      a category
    
    if user
      li.nav__el.nav__el--logout.hideOnMobile 
        a  Log out
      li.nav__el.hideOnMobile 
        a(href='/me')
          img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
          span= user.name.split(' ')[0]
    else
      li.nav__el.hideOnMobile 
        a(href='/login') Log in
      li.nav__el.nav__el--cta.hideOnMobile 
        a(href='/signup') Sign up 
    li.nav__el.hideOnDesktop.searchBtn
      a(href="/") 
        i(class="fa-solid fa-magnifying-glass fa-black")
   


                       //-/////////////////////////nav sidebar /////////////////////////////
.sidebar--nav
  ul
    li#userMenuCloseBtn 
      i(class="fa fa-times" aria-hidden="true") 
    li
      a(href="/") Home 
    li
      a category
    if user
      li 
        a Log out
      li 
        a.nav__el(href='/me')
          img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
          span= user.name.split(' ')[0]
    else
      li 
        a.nav__el(href='/login') Log in
      li 
        a.nav__el.nav__el--cta(href='/signup') Sign up 