extends adminbase
 
include _pagination

block content
   main.main-admin
      .container--table  
        table.table.post
            tr 
                th.hideOnMobileAdmin.photo PHOTO
                th.title TITLE 
                th.hideOnMobileAdmin AUTHOR
                th EDIT
                th DELETE
            each post in posts
                tr 
                    td.hideOnMobileAdmin   
                      img(src= post.imageCover, width="88", height="78" , alt=`${post.title}`)
                    td.title= post.title
                    td.hideOnMobileAdmin= post.author.name
                    td 
                      a.edit(href=`/admin/post/${post._id}`)
                        i(class="fa-solid fa-file-pen fa-large fa-green")
                    td 
                      i.btnDelete--post(class="fa-solid fa-trash fa-large fa-red" data-post_id=post._id)
                      //- button.btnDelete--post.btn--round.btn--red(data-post_id=post._id)
                        
      section
        +pagination(currentPage, totalPage, category)








        //- .paginationContainer
        //-   if (currentPage != 1)
        //-     a(href=`?page=${currentPage *1 -1}${category ? `&category=${category}` : '' }`)
        //-       span previous
        //-   a.text-decoration-none(href=`?page=1${category ? `&category=${category}` : '' }`)
        //-     span(class=`page ${'1'==currentPage ? 'active': ''}`) 1
        //-   if(totalPage<=10)
        //-     +pageList(currentPage, 2, totalPage , category)
        //-     //- - for (var page=2; page<totalPage; page++)
        //-     //-     a.text-decoration-none(href=`?page=${page}${category ? `&category=${category}` : '' }`)
        //-     //-       span(class=`page ${page==currentPage ? 'active': ''}`)=page
        //-   else 
        //-     if (currentPage<5)  
        //-       +pageList(currentPage, 2, 8, category)     
        //-       //- - for (var page=2; page<=7; page++)
        //-       //-     a.text-decoration-none(href=`?page=${page}${category ? `&category=${category}` : '' }`)
        //-       //-       span(class=`page ${page==currentPage ? 'active': ''}`)=page
        //-       div ....
        //-     else if(currentPage>totalPage-4)
        //-       div ....
        //-       +pageList(currentPage, totalPage -4 , totalPage, category)
        //-       //- - for (var page= totalPage -4; page<totalPage; page++)
        //-       //-     a.text-decoration-none(href=`?page=${page}${category ? `&category=${category}` : '' }`)
        //-       //-       span(class=`page ${page==currentPage ? 'active': ''}`)=page   
        //-     else
        //-       div ....
        //-       +pageList(currentPage, currentPage -2, currentPage*1 +3, category)
        //-       //- - for (var page= currentPage -2; page<currentPage*1 + 3; page++)
        //-       //-     a.text-decoration-none(href=`?page=${page}${category ? `&category=${category}` : '' }`)
        //-       //-       span(class=`page ${page==currentPage ? 'active': ''}`)=page 
        //-       div ....
        //-   a.text-decoration-none(href=`?page=${totalPage}${category ? `&category=${category}` : '' }`)
        //-     span(class=`page ${totalPage==currentPage ? 'active': ''}`)=totalPage
        //-   if (totalPage != currentPage)
        //-     a(href=`?page=${currentPage *1 +1}${category ? `&category=${category}` : '' }`)
        //-       span next
            
        
        
        
        //- .previous
        //-   a(href=`/admin/posts?page=${currentPage *1 -1}&limit=3`)
        //-     button.btn.btn--white
        //-       svg(width="32px", height="32px")
        //-         use(xlink:href="/img/icons.svg#icon-chevron-left")  
        //- .next
        //-   a(href=`/admin/posts?page=${currentPage *1 +1}&limit=3`)          
        //-     button.btn.btn--white
        //-       svg(width="32px", height="32px")
        //-         use(xlink:href="/img/icons.svg#icon-chevron-right") 
    
       
       
       
       
       
       
       
       
       
       
        //- .card
        //-   .card__header
        //-     .card__picture
        //-       .card__picture-overlay &nbsp;
        //-       img.card__picture-img(src=`/img/posts/${post.photo}`, alt=`${post.title}`)
        //-   .card__details
        //-     h1.card__text= post.title
        //-     .card__data
        //-       svg.card__icon
        //-         use(xlink:href='/img/icons.svg#icon-calendar')
        //-       span= post.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
            

        //-   .card__footer
           
          
        //-     a.btn.btn--green.btn--small(href=`/tour/${post.slug}`) Read More

