extends base
include _commentCard

block content
  main.main
    section.post__container#post__container
      section.section-header
        - const date = post.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
        div.headline
          h2.heading=  post.title
        div.byline   
          div=`By ${post.author.name}` 
          div= date
          div= `${viewCount} view`
          if (likeBoolean)
            i(class="fa-solid fa-heart fa-large fa-green" id="like_icon--fill")
          else 
            i(class="fa-regular fa-heart fa-large" id = "like_icon--regular")
        .header__hero
          img.img(src= post.imageCover, alt=`${post.title}`)
          //- img.header__hero-img(src=`/img/posts/${post.imageCover}`, alt=`${post.title}`)
        

      section.section-description
          - const parapraphs = post.body.split('\n');
          each p in parapraphs
            p.description__text= p

      //- section.section-pictures
      //-   each img, i in post.images
      //-     .picture-box
      //-       img.picture-box__img(src=`/img/posts/${img}`, alt=`${i + 1}`, class=`picture-box__img--${i + 1}`)

      section.section-comments
          .comment-form 
            h2.heading-secondary.ma-bt-lg Write your comments
            form.form.form--comment
              .form__group
                textarea#comment.form__input(type='text', placeholder='', required, name="comment", cols="30", rows="3")
                div#post(data-postId=post._id)
              .form__group
                button.btn.btn--green send
          .comments
            each comment in post.comments
              +commentCard(comment) 